<%= javascript_include_tag "gps_location_finder" %>

<h1>FindMe#index</h1>

<p>
<input type="button" id="get_my_location_button" value="Find me!" onclick="getMyLocation();" />
</p>

<p>
<label for="my_location_display_text">My Location: </label>
<input type="text" id="my_location_display_text" value="NA" readonly="true" size="40" />
</p>