<h3>Home</h3>
Display Map of Past Checkins!

<p>
<input type="button" class="btn btn-primary" id="get_my_location_button" value="Find me!" onclick="getMyLocation();" />
</p>
<p>
<label for="my_location_display_text">My Location: </label>
<input type="text" id="my_location_display_text" value="NA" readonly="true" />
</p>		